# Edit Your Expectation Suite
Use this notebook to recreate and modify your expectation suite:

**Expectation Suite Name**: `test3`

In [1]:
import datetime

import pandas as pd

import great_expectations as ge
import great_expectations.jupyter_ux
from great_expectations.core.batch import BatchRequest
from great_expectations.checkpoint import SimpleCheckpoint
from great_expectations.exceptions import DataContextError

context = ge.data_context.DataContext()

# Note that if you modify this batch request, you may save the new version as a .json file
#  to pass in later via the --batch-request option
batch_request = {'datasource_name': 'my_datasource', 'data_connector_name': 'default_configured_data_connector_name', 'data_asset_name': 'employees', 'limit': 1000}


# Feel free to change the name of your suite here. Renaming this will not remove the other one.
expectation_suite_name = "test3"
try:
    suite = context.get_expectation_suite(expectation_suite_name=expectation_suite_name)
    print(f'Loaded ExpectationSuite "{suite.expectation_suite_name}" containing {len(suite.expectations)} expectations.')
except DataContextError:
    suite = context.create_expectation_suite(expectation_suite_name=expectation_suite_name)
    print(f'Created ExpectationSuite "{suite.expectation_suite_name}".')


validator = context.get_validator(
    batch_request=BatchRequest(**batch_request),
    expectation_suite_name=expectation_suite_name
)
column_names = [f'"{column_name}"' for column_name in validator.columns()]
print(f"Columns: {', '.join(column_names)}.")
validator.head(n_rows=5, fetch_all=False)

2022-11-18T16:47:38+0300 - INFO - Great Expectations logging enabled at 20 level by JupyterUX module.
Loaded ExpectationSuite "test3" containing 0 expectations.

Calculating Metrics:   0%|          | 0/2 [00:00<?, ?it/s]

Columns: "employee_id", "first_name", "last_name", "email", "phone_number", "hire_date", "job_id", "salary", "manager_id", "department_id".

Calculating Metrics:   0%|          | 0/1 [00:00<?, ?it/s]

,employee_id,first_name,last_name,email,phone_number,hire_date,job_id,salary,manager_id,department_id
0,100,Steven,King,steven.king@sqltutorial.org,515.123.4567,1987-06-17,4,24000.0,NaN,9
1,101,Neena,Kochhar,neena.kochhar@sqltutorial.org,515.123.4568,1989-09-21,5,17000.0,100.0,9
2,102,Lex,De Haan,lex.de haan@sqltutorial.org,515.123.4569,1993-01-13,5,17000.0,100.0,9
3,103,Alexander,Hunold,alexander.hunold@sqltutorial.org,590.423.4567,1990-01-03,9,9000.0,102.0,6
4,104,Bruce,Ernst,bruce.ernst@sqltutorial.org,590.423.4568,1991-05-21,9,6000.0,103.0,6

## Create & Edit Expectations


Add expectations by calling specific expectation methods on the `validator` object. They all begin with `.expect_` which makes autocompleting easy using tab.

Because you selected interactive mode, you are now creating or editing an Expectation Suite with validator feedback from the sample batch of data that you specified (see `batch_request`).

Note that if you select manual mode you may still create or edit an Expectation Suite directly, without feedback from the `validator`. See our documentation for more info and examples: [How to create a new Expectation Suite without a sample batch](https://docs.greatexpectations.io/docs/guides/expectations/how_to_create_and_edit_expectations_based_on_domain_knowledge_without_inspecting_data_directly).



You can see all the available expectations in the **[expectation gallery](https://greatexpectations.io/expectations)**.

### Table Expectation(s)

No table level expectations are in this suite. Feel free to add some here.

They all begin with `validator.expect_table_...`.

In [3]:
validator.expect_table_column_count_to_equal(20)

Calculating Metrics:   0%|          | 0/3 [00:00<?, ?it/s]

{
  "meta": {},
  "result": {
    "observed_value": 10
  },
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  },
  "success": false
}

### Column Expectation(s)

No column level expectations are in this suite. Feel free to add some here.

They all begin with`validator.expect_column_...`.

## Review & Save Your Expectations

Let's save the expectation suite as a JSON file in the `great_expectations/expectations` directory of your project.

Let's now rebuild your Data Docs, which helps you communicate about your data with both machines and humans.

In [4]:
print(validator.get_expectation_suite(discard_failed_expectations=False))
validator.save_expectation_suite(discard_failed_expectations=False)

checkpoint_config = {
    "class_name": "SimpleCheckpoint",
    "validations": [
        {
            "batch_request": batch_request,
            "expectation_suite_name": expectation_suite_name
        }
    ]
}
checkpoint = SimpleCheckpoint(
    f"{validator.active_batch_definition.data_asset_name}_{expectation_suite_name}",
    context,
    **checkpoint_config
)
checkpoint_result = checkpoint.run()

context.build_data_docs()

validation_result_identifier = checkpoint_result.list_validation_result_identifiers()[0]
context.open_data_docs(resource_identifier=validation_result_identifier)

2022-11-18T16:49:04+0300 - INFO - 	1 expectation(s) included in expectation_suite.
{
  "data_asset_type": null,
  "meta": {
    "citations": [
      {
        "batch_request": {
          "data_asset_name": "employees",
          "data_connector_name": "default_configured_data_connector_name",
          "datasource_name": "my_datasource",
          "limit": 1000
        },
        "citation_date": "2022-11-18T13:47:17.031598Z",
        "comment": "Created suite added via CLI"
      }
    ],
    "great_expectations_version": "0.15.32"
  },
  "expectation_suite_name": "test3",
  "ge_cloud_id": null,
  "expectations": [
    {
      "meta": {},
      "kwargs": {
        "value": 20
      },
      "expectation_type": "expect_table_column_count_to_equal"
    }
  ]
}
2022-11-18T16:49:04+0300 - INFO - 	1 expectation(s) included in expectation_suite.
2022-11-18T16:49:05+0300 - INFO - 	1 expectation(s) included in expectation_suite.

Calculating Metrics:   0%|          | 0/3 [00:00<?, ?it/s]